.image{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 100%;
}
.child{
    position: absolute;
    top: 25%;
    left: 45%;
}

.span{
    width: 67%;
    display: inline-block;
}

.text{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.button{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-left: 22%;
    margin-top: 1.5em;
    padding: 25px;
    border-radius: 60px;
    border: 0px solid #FFFFFF;
    color: #3F40EE
}